@{
    ViewData["Title"] = "Создать";
}

@model HunterWeb.ViewModels.AnimalViewModel
@using HunterWeb.Helpers.TagHelpers

<form asp-action="CreateAnimal" asp-controller="Animal" method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label>Имя</label>
        <input class="form-control" type="text" placeholder="Name" asp-for="Name">
    </div>

    <div class="form-group">
        <label>Описание животного</label>
        <input class="form-control" type="text" placeholder="Description" asp-for="Description">
    </div>
    <div class="form-group">
        <label>Картинка</label>
        <input class="form-control" type="file" name="uploadedFile" accept="images/*">
    </div>
    <div class="mb-4" style="padding-bottom: 10px">
        <input type="hidden" class="form-control" asp-for="Id" />
        <input type="hidden" class="form-control" asp-for="ImageUrl" />
    </div>

    <submit-button value="Создать"/>
    
</form>

